<h1>Editing Course</h1>

<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Show this course", @course, class: "btn btn-primary active" %> |
  <%= link_to "Back to courses", courses_path, class: "btn btn-primary active" %>
</div>
